<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>division</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="backgroundImg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="cardColor">
          <div class="center">
            <ion-card-subtitle style="font-size: 20px;">ANSWER THE QUESTIONS BELOW</ion-card-subtitle>
            <app-division-question></app-division-question>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
