#backColor {
    --ion-background-color: #60bbc2
}

// .cardColor {
//     --ion-background-color: #ffffff;
// }

#backgroundImg {
    --background: url('/assets/img/addition_img.png')no-repeat center center / cover;
}

ion-card {
    margin: 120px 0px;
}

// app-math-question {
//     padding: 100px 0px;
// }

.center {
    text-align: center;
    padding-top: 20px;
}