<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>addition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="backgroundImg" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="cardColor">
          <div class="center">
          <ion-card-subtitle hide-when="(min-width: 360px)" style="font-size: 20px;">ANSWER THE QUESTIONS BELOW</ion-card-subtitle>
          <!-- <div class="cardPhone" hide-when="(min-width: 360px)"> 
            <ion-card-subtitle style="font-size: 20px;">ANSWER THE QUESTIONS BELOW</ion-card-subtitle>
          </div> -->
            <app-math-question></app-math-question>  
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
